<div id="comments-list">
    {{#commentDtos}}
        <div class="card m-3" id="comment-{{id}}">
            <div class="card-header">
                     {{nickname}}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#modal-comment-edit">
                    update
                </button>
            </div>

            <div class="card-body">
                    {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>

<!-- Modal -->
<div class="modal fade" id="modal-comment-edit" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">comment update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- comment-update form -->
                <form>
                    <div class="mb-3">
                        <label for="edit-comment-nickname" class="form-label">NickName</label>
                        <input type="text" class="form-control" id="edit-comment-nickname">
                    </div>

                    <div class="mb-3">
                        <label for="edit-comment-body" class="form-label">Comment</label>
                        <textarea class="form-control" row="3" id="edit-comment-body"></textarea>
                    </div>

                    <!-- Hidden Input -->
                        <input type="hidden" id="edit-comment-id">
                        <input type="hidden" id="edit-comment-article-id">

                    <button type="button" class="btn btn-primary" id="comment-update-btn">complete comment update</button>
                </form>
            </div>

        </div>
    </div>
</div>
