{{>layouts/header}}
{{#article}}
<form class="container" action="" method="post">
<input type="text" class="form-control" name="subject" value="{{subject}}">
<textarea class="form-control" rows="3" name="content">{{content}}</textarea>

<a href="/articles/{{article.id}}">Back</a>
</form>
{{/article}}
{{>layouts/footer}}